@import "tailwindcss";


@theme inline {
  --font-header: var(--font-noto-head);
  --color-primary: #7ed0ff;
  --color-accent: #d9acfd;
}

.tag {
  @apply font-header font-bold tracking-tight bg-gradient-to-b from-black to-blue-700 bg-clip-text text-transparent
}